@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');

:root {
    /*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
    /* Override Variables */
    --font-family-sans-serif: 'Source Sans Pro', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --gray-dark: #404040;

    /* Page Variables */
    --font-family-serif: Merriweather, serif;
    --color-text: var(--gray-dark);
    --font-family-text: var(--font-family-serif);
}
/*Styling The Search Bar*/
.alink:hover {
    background-color: #f2f2f2;
    transition: all .1s ease-in-out;
    transform: scale(0.97);
  }
  .search-d{
      color:#F7BB00;
      font-size: 1.2em;
      font-weight: 400;
      padding-left: 1em;
  }
  .dropdown-menu{
    display:block; 
    position:relative;
    background-color: #ffffff; 
    overflow:hidden; 
    overflow-y:scroll;
    height:300px;
  }
  .btn-search{
    background:#F7BB00;
    color:#ffffff;
    width:100px;
    padding:12.5px;
  }
  .gly-search{
    font-size:25px;
  }
 
  #searchBox{
    width:40em; 
    border:0; 
    box-shadow:none;
  }

  .heading-search{
    margin-top:150px;
  }

  /*END STYLING OF SEARCH BAR*/

.family-sans {
    font-family: var(--font-family-sans-serif);
}
.font-openSans{
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-family-text);
    color: var(--color-text);
    font-weight: 200;
}

.site-nav {
    text-transform: uppercase;
    font-weight: 200;
    /* background: rgb(0, 0, 0, 0.6); */
}

.navbar-brand {
    display: inline-block;
    height: 61px;
    width: 216px;
    vertical-align: top;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand > img {
    display: block;
}
.navbar-nav {
    margin-left: auto; /*Move Nav Items to the left Automatically*/
    font-weight: bold;
    
}
.container-fluid .navbar-nav .nav-item{
    color: #ffc107;
}

.collapse{
    color:yellow;
}
.post-add{
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    height: 30px;
    width: 120px;
    outline: none;
    background: #ffc107;
    color: #000000;
}

.site-header {
    background: url(../img/rentanythingbanner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header .layout-hero {
    display: flex;
    min-height: 40vh;
    color: #fff;
    text-align: center;
    align-items: center;
}

.site-header .page-section-title {
    font-size: 4em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
}

.site-header .page-section-text {
    font-size: 1.2em;
    color: #ffc107;
}   
.search-items{
    display: flex;
    align-items: center;
    justify-content:center;

}

.welcome-note{
    font-size: 3rem;
    font-family: var(--font-family-sans-serif); 
    color: red;   
}

.search-btn{
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: black;
    outline: none;
    width: 10rem;
    height: 2rem;
    background-color: #F7BB00;

}

.search-word{
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: black;
    outline: none;
    width: 40rem;
    height: 2rem;
    background-color: #FFFFFF;
}
.search-location{
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: black;
    outline: none;
    height: 2rem;
    width: 14rem;
    background-color: #FFFFFF;
}
.location-icon{
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: black;
    outline: none;
    height: 2rem;
    background-color: #FFFFFF;
}



.txt-head{
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
}

.second-nav{
    display: flex;
    justify-content: center;
}


footer {
    background-color: #C4C4C4;
    text-decoration: none;
    color: #000000;
    font-family: var(--font-family-sans-serif);
    font-size: 1.1rem;
}

.footer-social {
    display: flex;
    justify-content: left;
}
.footer-social .social-icon {
    color: #0A0A0A;
    font-size: 2rem;
    margin-right: 15px;

}


.footer-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.links-heading {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer-yellow {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
    background-color: #ffc107;
}


.social-btn{
    padding-bottom: 10px;
    align-content: center;
  }

  .social-login{
    font-family: var(--font-family-sans-serif);  
    display: flex;
    justify-content: center;
    
  }

  .btn-facebook {
    background: #3b589a none repeat scroll 0 0;
  }
   
  .btn-google {
      background: #cf4332 none repeat scroll 0 0;
  }

  .login-icons {
      
    border: medium none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 8px;
}
.post-add-body{
    background:#f2f2f2;
}

.page-h-text{
    text-align: center;
    margin-top:7rem;
    font-family: var(--font-family-sans-serif);
    font-size: 2rem;
    font-weight: bold;
    color:yellowgreen;
    padding-top: 1rem;
}


.post-container{
    background:#f2f2f2; 
    padding-bottom:5rem;
}
.input-label{
    font-family: var(--font-family-sans-serif);
}
.span-com{
    color:red;
}
.form-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------------------------------------------Styling CARDS FOR IMAGE DISPLAY----------------------------------------------------------------*/
.card-img-adv{
    font-family: var(--font-family-sans-serif);
}
.card-anc{
    text-decoration: none;
}

.card-img-adv .card-title{
    color:red;
}

.img-adv{
    width:100%; 
    height:10rem;
}
/*------------------------------------------------------------------------MEDIA QUERY STARTS HERE--------------------------------------------------------------*/

/*BREAK POINTS STYLES  ----DESIGNS ARE FROM BIG TO SMALL SCREEN*/

/*Large Screen */
@media screen and (max-width: 1127px) {
    .search-items{
      justify-content: center;
    }
    .search-word{
       width: 35rem;
    }
    .search-location{
       width: 10rem;
    }
    .search-btn{ 
        
    }
    
  
} /*End Medium Screen Media Query*/

/*Medium Screen */
@media screen and (max-width: 992px) {
    .search-items{
        justify-content: center;
    }
    .search-word{
        width: 10rem;
    }
    .search-location{
        width: 8rem;
        margin-right:3rem;
    }
    .search-btn{ 
        width: 8rem;
    }
    .location-icon{
        display: none;
    }
  
} /*End Medium Screen Media Query*/




/*Between Mobile and Medium */
@media screen and (max-width: 765px) {
    .link-sep{
        display: none;
    }
    .search-items{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-word{
        width: 8rem;
        
    }
    .search-location{
        width:15rem;
        padding-right:3rem; 
    }
    .search-btn{ 
        width: 6rem;
    }

    .site-header {
        background: url(../img/rentanythingbanner.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
}




/*Mobile Screen */
@media screen and (max-width: 575px) {
  
   .link-sep{
        display: none;
    }
    .welcome-note{
        font-size: 32px;
        padding-top: 5rem;
        color: #000000;
    }
    .search-location, .location-icon{
        display: none;
    }
    .search-word{
        width: 20rem;
        margin-bottom: 1rem;
    }
    .search-items{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-item-two{
         justify-content: center;
    }
    .src-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-btn{
        margin-bottom: 2rem;
    }

    .second-nav{
        display: none;
    }

    .site-nav {
        
        background: rgb(0, 0, 0, 0.6); 
    }
    .site-header {
        background: url(../img/rentanythingbanner.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
} /*End Mobile Screen Media Query*/
