@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');

:root {
  /* 
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
  /* Override Variables */
  --font-family-sans-serif: 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --gray-dark: #404040;
  --purple: #533777;

  /* Page Variables */
  --light-blue: #e1f7f5;
  --light-purple: #c290d2;
  --font-family-serif: Merriweather, serif;
  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family-serif);
}

.family-sans {
  font-family: var(--font-family-sans-serif);
}


body {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: 200;
}

.image-article{
  display: flex;
  justify-content: center;
}

.login-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-area{
  color:#000000;
  text-align: center;
  padding-bottom: 20px;
  font-family: var(--font-family-sans-serif);
}

.btn-facebook {
  background: #3b589a none repeat scroll 0 0;
}
.btn-facebook {
	background: #3b589a none repeat scroll 0 0;
}

.btn-google {
	background: #cf4332 none repeat scroll 0 0;
}
.btn-twitter {
	background: #0084b4 none repeat scroll 0 0;
}
.btn-linkedin {
	background: #0077B5 none repeat scroll 0 0;}
.btn-github {
	background: #6e5494 none repeat scroll 0 0;
}


.login-icons {
  border: medium none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
  padding: 8px;
}

a, a:hover {
  text-decoration: none !important;
}

a {
  transition: color 0.2s ease-in-out 0s;
}

.social-login{
  font-family: var(--font-family-sans-serif);  
  display: flex;
  justify-content: center;
  
}
.social-btn{
  padding-bottom: 20px;
  align-content: center;
}

  .layout-image{
  background:url('../img/loggin_background.png');
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size:cover; 
  min-height: 100vh;
  width: 100;
  
}

.dark-bg{
  background:rgba(0,0,0,0.7);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.form-layout{
  background: white;
  border-radius:5px;
}

.layout-thankyou{
  background:rgba(0,0,0,0.6);
  padding:10px;
  border-radius:5px;
  height:250px;
}

.figure-img {
  width: 250px;
}
@media screen and (max-width:425px){
  .figure-img{
    width:200px;
  }
  .figure-img{
    margin-left:20%
  }
}
@media screen and (max-width:576px){
  .layout-thankyou{
    display: none;
  }
}

@media screen and (max-width:768px){
  .layout-thankyou{
    display: none;
  }
}
.layout-image .row{
  justify-content: center;
}
.form-layout.join-us p {
  padding:15px;
  text-align:center;
}
.form-layout.join-us p a{
  padding-left:20px
}
.form-layout.join-us{
  margin:20px -15px
}
.layout-image .form-group{
  margin:20px 0;}
.layout-required{
  color: red;
}

.form-intro{
  color: blue;
}

.layout-submit{
  background: yellow;
}
.layout-submit:hover{
  background: greenyellow;
}
.custom-checkbox{

}